body {
    text-align: center;
}
h1{
    font-family: Helvetica, sans-serif;
    margin: 40px;
}

h2 {
    margin: 40px;
}

button img {
    width: 100px;
    height: 100px;
}

#body, #tail {
    display: inline-block
}

.head {
    margin-top: 40px;
    position: relative;
}

.part {
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 35px solid;
    margin-bottom: 45px;
    margin-left: -15px;
}

.tail {
    margin-left: -33px;
    position: relative;
    display: inline-block;

}

.red-donut {
    color: rgb(255, 138, 138);
}

.orange-donut {
    color: rgb(252, 170, 82);
}

.yellow-donut {
    color: rgb(255, 255, 111);
}

.green-donut {
    color: rgb(88, 213, 138);
}

.blue-donut {
    color: rgb(26, 133, 227);
}

.purple-donut {
    color: rgb(208, 103, 208);
}

.donut:hover {
    background: black;
}

/* dancing */ 

.dance-button {
    margin: 10px;
    padding: 30px;
}
.dance {
    transform: translateY(-30%);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.red-button:hover {
    background: rgb(255, 138, 138);
    color: white;
}

.orange-button:hover {
    background: rgb(252, 170, 82);
    color: white;   
}

.yellow-button:hover {
    background: rgb(255, 255, 111);
    color: white;
}

.green-button:hover {
    background: rgb(88, 213, 138);
    color: white;
}

.blue-button:hover {
    background: rgb(26, 133, 227);
    color: white;
}

.purple-button:hover {
    background: rgb(208, 103, 208);
    color: white;
}